# .NET
**/bin/
**/obj/
**/.vs/
*.user
src/BarberShop.API/appsettings.Development.json

# Next.js
barber-web/.next/
barber-web/node_modules/
barber-web/.env.local
z
# Geral
.DS_Store

src/BarberShop.API/Logs
src/BarberShop.API/logs
src/BarberShop.API/BarberShop.API.csproj.lscache
src/BarberShop.Application/BarberShop.Application.csproj.lscache
src/BarberShop.Domain/BarberShop.Domain.csproj.lscache
src/BarberShop.Infrastructure/BarberShop.Infrastructure.csproj.lscache