# .NET
**/bin/
**/obj/
**/.vs/
*.user
src/BarberShop.API/appsettings.Development.json

# Next.js
barber-web/.next/
barber-web/node_modules/
barber-web/.env.local
z
# Geral
.DS_Store

src/BarberShop.API/Logs